<div
  class="flex border-2 border-gray-500 py-6 px-4 text-xs rounded-xl job-card md:w-[100%] mb-4 font-montserrat shadow-sm bg-[#fffbea]"
  onclick="toggleDetails(this)"
>
  <div class="w-[20%] flex items-start md:w-[15%]">
    <img
      src="<%= candidatePhoto %>"
      alt=""
      class="rounded-full border-2 border-gray-500 object-fill bg-white p-2 "
    />
  </div>
  <div class="flex flex-col gap-1 w-[80%] md:w-[90%]">
    <div class="flex flex-col md:flex-row justify-between w-full">
      <div class="flex flex-col gap-4">
        <p class="font-bold font-open text-lg text-[#13B0A7] text-center md:text-start">
          <%= candidateName %>
        </p>
        <div class="flex justify-center gap-4 mb-4">
          <p class="text-[12px] text-gray-500 text-center md:text-start"><%= candidateLocation %></p>
          <p class="text-[12px] text-gray-500 text-center md:text-start"><%= candidateWork %></p>
        </div>
      </div>
      <div class="flex gap-8 mb-4 h-[60%] justify-center md:justify-normal">
        <%- include('./Button.ejs', {buttonText: "Apply Now", buttonVariant:
        "primary"}); %>
      </div>
    </div>

    <div class="flex flex-col gap-2 flex-wrap">
      <div class="flex gap-4 mb-4">
        <p class="text-[12px] font-semibold"><%= candidateSpecialization %></p>
        <p class="text-[12px] font-semibold"><%= candidateExperience %></p>
        <p class="text-[12px] font-semibold"><%= candidateHours %></p>
      </div>
      <div class="flex gap-1">
        <p class="text-[12px]"><%= candidateIntroduction %></p>
      </div>
    </div>
    <div class="job-details hidden mt-4">
      <!-- Additional details content -->
      <strong class="mb-2 ">Description:</strong>
      <p class="mb-4"><br /><%= candidateDescription %></p>
      <p class="mb-4">
        <strong>Requirements:</strong><br /><br />
        <%= candidateRequirements %>
      </p>

      </div>
    </div>
  </div>
</div>

<!-- JavaScript to toggle details -->
<script>
  function toggleDetails(card) {
    card.classList.toggle('expanded');
  }
</script>
