<div class="flex flex-col gap-4 py-4 px-8 items-center">
  <div
    class="flex flex-col p-4 gap-4 border-2 border-black w-full md:w-[85%] rounded-3xl bg-[#fffbea]"
  >
    <p class="font-bold">FIELDS OF WORK</p>
    <p class="mt-2"><%= candidateSelfDescription %></p>
  </div>
  <div
    class="flex flex-col p-4 gap-4 w-full md:w-[85%] items-center rounded-3xl bg-white"
  >
    <p class="font-bold">SKILLS</p>
    <div class="mt-2">
      <div class="flex gap-4 flex-wrap">
        <button class="rounded-3xl bg-gray-400 px-2">
          <%= candidateSkills %>
        </button>
        <button class="rounded-3xl bg-gray-400 px-2">
          <%= candidateSkills2 %>
        </button>
        <button class="rounded-3xl bg-gray-400 px-2">
          <%= candidateSkills3 %>
        </button>
        <button class="rounded-3xl bg-gray-400 px-2">
          <%= candidateSkills4 %>
        </button>
      </div>
    </div>
    <div
      class="flex flex-col p-4 gap-4 border-2 border-black w-full md:w-[85%] rounded-3xl bg-[#fffbea]"
    >
      <p class="font-bold">EXPERIENCE</p>
      <div class="">
        <p class="font-semibold"><%= candidateProfession %></p>
        <div class="flex gap-4">
          <p class="font-semibold"><%= candidatePastCompany %></p>
          <p class="font-semibold"><%= candidateCompanyDuration %></p>
        </div>
        <ul class="flex flex-col gap-4">
          <li class="mt-2"><%= candidateProfessionDescription %></li>
          <li class=""><%= candidateProfessionDescription2 %></li>
          <li class=""><%= candidateProfessionDescription3 %></li>
          <li class=""><%= candidateProfessionDescription4 %></li>
        </ul>
      </div>
    </div>
    <div
      class="flex flex-col p-4 gap-4 border-2 border-black w-full md:w-[85%] rounded-3xl bg-[#fffbea]"
    >
      <div class="flex flex-col gap-4">
        <p class="font-bold text-lg">EDUCATION</p>
        <div class="flex flex-col p-4 gap-4">
          <p class="font-semibold"><%= candidateSchool %></p>
          <p class="font-semibold"><%= candidateEducation %></p>
          <p class="font-semibold"><%= candidateEducationPeriod %></p>
          <p class="font-semibold"><%= candidateDegree %></p>
        </div>
      </div>
      <div class="flex flex-col p-4 gap-4"></div>
    </div>
    <div
      class="flex flex-col p-4 gap-4 border-2 border-black w-full md:w-[85%] rounded-3xl bg-[#fffbea]"
    >
      <div class="flex flex-col gap-4">
        <p class="font-bold">AWARDS</p>
        <div class="flex flex-col p-4 gap-4">
          <p class="font-semibold"><%= candidateAward %></p>
          <p class="font-semibold"><%= candidateAwarder %></p>
          <p class="font-semibold"><%= candidateAwardYear %></p>
        </div>
      </div>
    </div>
  </div>
</div>
