<div
  class="flex flex-col w-full items-center border-2 border-gray-300 p-4 font-montserrat"
>
  <div class="flex flex-col gap-4 items-center">
    <img
      src="<%= companyLogo %>"
      alt=""
      class="border-2 border-gray-300 rounded-full p-2 w-[50%]"
    />
    <h3 class="font-semibold"><%= companyName %></h3>
    <div class="flex gap-6">
      <p class=""><%= companyLocation %></p>
      <p class=""><%= jobType %></p>
    </div>
    <div class="flex"><%= JobCategory %></div>
  </div>
  <div class="flex flex-col gap-4 h-[25%] mt-6 w-[40%]">
    <%- include('./Button.ejs', {buttonText: "Apply Now", buttonVariant:
    "primary"}); %> <%- include('./Button.ejs', {buttonText: "Save Job",
    buttonVariant: "primary"}); %>
  </div>
</div>
