<% inputText = inputText; inputID = inputID %>

<!-- <a href="#" class="btn btn-<%= buttonVariant %>"><%= buttonText %></a> -->
<label for="<%= inputID %>"><%= inputText %></label>
<input
  name="<%= inputID %>"
  id="<%= inputID %>"
  type="text"
  class="border border-black"
/>
