<div
  class="flex border-b-2 border-[#EBEBEB] py-6 px-4 text-xs job-card md:w-[100%] mb-4 font-montserrat"
  onclick="toggleDetails(this)"
>
  <div class="w-[20%] flex items-start md:w-[15%]">
    <img
      src="<%= companyLogo %>"
      alt=""
      class="border-2 border-gray-500 object-fill bg-white"
    />
  </div>
  <div class="flex flex-col gap-3 w-[80%] md:w-[90%] ml-6">
    <p class="font-bold font-open text-lg text-[#13B0A7]"><%= jobListing %></p>
    <p class="text-[15px] text-gray-500"><%= employerName %></p>
    <div class="flex gap-4 flex-wrap">
      <p class="font-open font-semibold text-sm"><%= jobCategory %></p>
      <div class="flex gap-4">
        <p class="text-sm text-[#959595] font-open"><%= jobSalary %></p>

        <p class="text-[12px]"><%= jobType %></p>
      </div>
    </div>
    <p class="text-[12px]"><%= jobLocation %></p>
    <div class="job-details hidden">
      <!-- Additional details content -->
      <strong class="mb-2">Description:</strong>
      <p class="mb-4"><br /><%= jobDescription %></p>
      <p class="mb-4">
        <strong>Requirements:</strong><br /><br />
        <%= jobRequirements %>
      </p>
      <p class="mb-6">
        <strong>Benefits:</strong><br /><br />
        <%= jobBenefits %>
      </p>
      <div class="container flex gap-8">
        <%- include('./Button.ejs', {buttonText: "Apply Now", buttonVariant:
        "primary"}); %> <%- include('./Button.ejs', {buttonText: "Click me",
        buttonVariant: "primary"}); %>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript to toggle details -->
<script>
  function toggleDetails(card) {
    card.classList.toggle("expanded");
  }
</script>
