<div class="flex flex-col w-full gap-4 p-4 items-center border border-black">
  <div class="flex flex-col gap-4 items-center border border-black p-4">
    <p class="text-2xl font-bold"><%= jobHeader %></p>
    <div class="flex gap-4">
      <p class=""><%= jobLocation %></p>
      <p class="">" . "</p>
      <p class=""><%= jobType %></p>
      <p class="">" . "</p>
      <p class=""><%= jobSalary %></p>
    </div>
    <div class="flex justify-between p-2">
      <p class=""><%= jobRoles %></p>
      <p class=""><%= jobReviews %></p>
    </div>
  </div>
  <div
    class="flex flex-col gap-4 flex-wrap items-center border border-black p-6 w-full"
  >
    <p class="border border-black w-[65%]">Job Description</p>
    <p class="text-left w-[65%]"><%= jobDescription %></p>
    <p class="w-[65%]">Requirements</p>
    <p class="text-left w-[65%]"><%= jobRequirements %></p>
  </div>
  <div class="flex flex-col gap-4 border border-black p-6 items-center w-full">
    <p class="text-left w-[65%]">Skills required</p>
    <p class="w-[65%]"><%= skillRequired %></p>
  </div>
  <div class="flex flex-col items-center gap-4 border border-black p-6 w-full">
    <p class="text-left w-[65%]">Company Introduction</p>
    <div class="flex justify-around gap-4 w-[65%]">
      <div class="flex flex-col gap-4">
        <p class="">FIELDS</p>
        <p class=""><%= jobCategory %></p>
      </div>
      <div class="flex flex-col gap-4 flex-wrap">
        <p class="">INTERESTED IN CANDIDATES FOR</p>
        <div class="flex flex-wrap gap-4">
          <button class="bg-gray-400 max-w-[100%] rounded-3xl px-2">
            asdasd
          </button>
          <button class="bg-gray-400 max-w-[100%] rounded-3xl px-2">
            asdasd
          </button>
          <button class="bg-gray-400 max-w-[100%] rounded-3xl px-2">
            asdasd
          </button>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <p class="">EMPLOYEES</p>
        <p class=""><%= employeeCount %></p>
      </div>
    </div>
  </div>
  <div class="flex justify-around gap-4 border border-black p-6 w-full">
    <div class="flex justify-between gap-4 w-[65%] border border-black">
      <div class="flex flex-col gap-4">
        <p class="">SALARY RANGE</p>
        <p class=""><%= salaryRange %></p>
      </div>
      <div class="flex flex-col gap-4">
        <p class="">WEBSITE</p>
        <p class=""><%= companyWebsite %></p>
      </div>
      <div class="flex flex-col gap-4">
        <p class="">LOCATION</p>
        <p class=""><%= companyLocation %></p>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-4">
    <p class="">APPS WE USE TO STAY CONNECTED</p>
  </div>
</div>
