<div
  class="flex border border-black p-4 gap-6 text-xs job-card md:w-[100%]"
  onclick="toggleDetails(this)"
>
  <div class="w-[20%] flex items-start md:w-[15%]">
    <img
      src="<%= companyLogo %>"
      alt=""
      class="border border-gray-500 p-2 object-fill"
    />
  </div>
  <div class="flex flex-col gap-1 w-[80%] md:w-[90%]">
    <p class=""><%= jobListing %></p>
    <p class=""><%= employerName %></p>
    <div class="flex gap-2 flex-wrap">
      <p class="text-[10px]"><%= jobCategory %></p>
      <div class="flex gap-1">
        <p class="text-[10px]"><%= jobSalary %></p>
        <p class="">.</p>
        <p class="text-[10px]"><%= jobType %></p>
      </div>
    </div>
    <p class=""><%= jobLocation %></p>
    <div class="job-details hidden">
      <!-- Additional details content -->
      <strong>Description:</strong>
      <p><%= jobDescription %></p>
      <p>
        <strong>Requirements:</strong> Ut consectetur risus in fringilla
        maximus. Fusce non tincidunt eros, in pellentesque odio.
      </p>
      <p>
        <strong>Benefits:</strong> Aliquam nec augue quis arcu vulputate
        interdum non vel ex. Vivamus ut maximus neque. Donec tincidunt magna sit
        amet orci placerat, non luctus mauris semper.
      </p>
      <div class="flex gap-4 h-[25%] mt-2">
        <%- include('./Button.ejs', {buttonText: "Apply Now", buttonVariant:
        "primary"}); %> <%- include('./Button.ejs', {buttonText: "Click me",
        buttonVariant: "primary"}); %>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript to toggle details -->
<script>
  function toggleDetails(card) {
    card.classList.toggle('expanded');
  }
</script>
