<% title = "Browse Candidates" %> <%- include('../partials/shared/header'); %>

<section
  class="bg-gradient-to-r from-[#087FE0] from-10% via-[#0685cc] via-30% to-[#05e6ba] to-90% h-[90vh]"
>
  <div class="flex w-full h-full">
    <div
      class="w-full flex flex-col flex-wrap content-center justify-center items-center md:items-start"
    >
      <h1
        class="w-full md:w-1/2 font-montserrat text-white text-center md:text-left font-bold md:text-5xl 2xl:text-7xl xl:text-6xl lg:text-6xl"
      >
        Browse Freelancers on Eurus
      </h1>
      <span
        class="w-1/2 font-open text-white 2xl:text-xl lg:text- font-light mt-8"
      >
        Where the world meets startups, Millions of small businesses use
        Freelancers to turn their ideas into a reality</span
      >
      <div class="w-[80%]">
        <%- include('../components/atom/Find-Jobs copy'); %>
      </div>
    </div>
    <section
      class="w-full h-screen flex-col-reverse md:flex-row justify-center items-center overflow-hidden hidden md:flex"
    >
      <div
        class="w-full md:w-1/2 flex justify-center items-center transform scale-75 md:scale-125 translate-x-20 md:translate-x-40 translate-y-0 md:-translate-y-20"
      >
        <img
          class="w-80 h-100 rounded-full"
          src="assets/images/ceo.png"
          alt=""
        />

        <!-- Inner -->
        <div
          class="hw-inner flex justify-between items-center absolute border border-gray-800 rounded-full animate-spin-slow anim-8s"
        >
          <div
            class="bg-white p-1 rounded-full custom-shadow h-10 w-10 transform -translate-x-5"
          >
            <img
              class="h-9 w-9 object-center animate-rotate-img anim-8s"
              src="assets/images/icons/Engineer-professions-jobs-worker-man.svg"
              alt=""
            />
          </div>
          <div
            class="bg-white overflow-hidden rounded-full custom-shadow h-10 w-10 transform translate-x-5"
          >
            <img
              class="h-10 w-10 object-center animate-rotate-img anim-8s"
              src="assets/images/icons/Cashier-sales assistant-supermarket-woman-professions.svg"
              alt=""
            />
          </div>
        </div>

        <!-- Outer -->
        <div
          class="hw-outer flex justify-between items-center absolute border border-gray-800 rounded-full animate-spin-slow"
        >
          <div class="flex justify-between items-center h-full w-full">
            <div
              class="bg-white p-1 rounded-full custom-shadow h-10 w-10 transform translate-x-8 translate-y-40"
            >
              <img
                class="h-full w-full object-center animate-rotate-img"
                src="assets/images/icons/Chef-professions-jobs-avatar-cooker.svg"
                alt=""
              />
            </div>
            <div
              class="bg-white overflow-hidden p-1 rounded-full custom-shadow h-10 w-10 transform -translate-x-8 -translate-y-40"
            >
              <img
                class="h-full w-full object-center animate-rotate-img"
                src="assets/images/icons/Farmer-man-farming-gardening-jobs.svg"
                alt=""
              />
            </div>
          </div>

          <div class="absolute flex justify-between items-center h-full w-full">
            <div
              class="bg-white p-1 rounded-full custom-shadow h-10 w-10 transform translate-x-8 -translate-y-40"
            >
              <img
                class="h-full w-full object-center animate-rotate-img"
                src="assets/images/icons/Maid-woman-profession-jobs-avatar.svg"
                alt=""
              />
            </div>
            <div
              class="bg-white overflow-hidden p-1 rounded-full custom-shadow h-10 w-10 transform -translate-x-8 translate-y-40"
            >
              <img
                class="h-full w-full object-center animate-rotate-img"
                src="assets/images/icons/Mechanic-repair-professions-jobs-man.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <script>
        hljs.highlightAll();
      </script>
    </section>
  </div>
</section>

<div class="flex flex-wrap md:flex-nowrap font-montserrat w-full z-10 p-2">
  <div class="w-full p-0 flex flex-col md:flex-row justify-between">
    <div
      class="w-full md:w-1/4 flex flex-col gap-8 px-3 py-3 items-center justify-start md:ml-4 order-2 border-l-4"
    >
      <div
        class="flex flex-col gap-4 py-4 px-12 font-open font-semibold text-black text-base"
      >
        <h3 class="">Find Jobs</h3>
        <a
          href=""
          class="text-sm text-[#7D7D7D] font-open hover:text-[#14BDB3] hover:font-semibold"
          >Browse All</a
        >
        <a
          href=""
          class="text-sm text-[#7D7D7D] font-open hover:text-[#14BDB3] hover:font-semibold"
          >Browse with my Skills</a
        >
        <a
          href=""
          class="text-sm text-[#7D7D7D] font-open hover:text-[#14BDB3] hover:font-semibold"
          >Browse with top</a
        >
        <a
          href=""
          class="text-sm text-[#7D7D7D] font-open hover:text-[#14BDB3] hover:font-semibold"
          >Browse Local Jobs</a
        >
        <a
          href=""
          class="text-sm text-[#7D7D7D] font-open hover:text-[#14BDB3] hover:font-semibold"
          >Browse Categories</a
        >
      </div>
      <div class="flex flex-col gap-4 p-3">
        <p class="text-center font-bold">Featured Members</p>
        <div class="flex flex-col gap-4">
          <div class="job-card">
            <%- include('../components/atom/Featured-Member-Card', {companyLogo:
            "assets/images/woman 1.jpeg", companyName: `Sasha Grey`,
            companyLogo: "assets/images/woman 1.jpeg" }); %> <%-
            include('../components/atom/Featured-Member-Card', {companyLogo:
            "assets/images/man 1.jpg", companyName: `Lawrence Cruz` }); %> <%-
            include('../components/atom/Featured-Member-Card', {companyLogo:
            "assets/images/woman 2.jpg", companyName: `Katie Santos` }); %> <%-
            include('../components/atom/Featured-Member-Card', {companyLogo:
            "assets/images/man 2.jpg", companyName: `Juan Perez` }); %>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full md:w-3/4">
      <div class="flex flex-col gap-2 p-6 bg-white">
        <p class="font-light font-open text-xl">Filter by:</p>
        <div class="flex flex-wrap gap-8">
          <a href="" class="flex font-open font-sm text-[#636363]">Skills</a>
          <a href="" class="flex font-open font-sm text-[#636363]">Job Type</a>
          <a href="" class="flex font-open font-sm text-[#636363]">Skills</a>
          <a href="" class="flex font-open font-sm text-[#636363]">Location</a>
          <a href="" class="flex font-open font-sm text-[#636363]"
            >Compensation</a
          >
          <a href="" class="flex font-open font-sm text-[#636363]">Company</a>
          <a href="" class="flex font-open font-sm text-[#636363]">Keywords</a>
        </div>
      </div>

      <!-- job list -->
      <div class="p-4 overflow-hidden">
        <div id="jobCards" class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="job-card">
                <%- include('../components/atom/Job-Card', {companyLogo:
                "assets/images/stephen.jpg", jobListing: `Expert HVAC Technician
                for Your Cooling Needs`, employerName: "Carlos Fernandez",
                jobCategory: `HVAC Technician`, jobSalary: `₱700/hour`, jobType:
                `Full-Time`, jobLocation: "Makati City", jobDescription: `Hey
                there, homeowners and businesses! I'm Carlos, an experienced
                HVAC technician with a passion for ensuring comfortable indoor
                environments. With 9 years in the industry, I specialize in
                installing, maintaining, and repairing heating, ventilation, and
                air conditioning systems. From troubleshooting to system
                upgrades, I've got your cooling needs covered. Based in Makati
                City, my hourly rate is ₱700. Let's keep your spaces comfortable
                and efficient, no matter the weather!`, jobRequirements:
                `Education: Bachelor's degree in Mechanical Engineering,
                Electrical Engineering, Computer Science, or a related field.
                Master's degree preferred. Experience: Minimum of 4 years of
                hands-on engineering experience in a relevant industry, such as
                manufacturing, software development, or electronics. Technical
                Proficiency: Strong knowledge of CAD software (e.g., SolidWorks,
                AutoCAD) for mechanical engineers, or programming languages
                (e.g., Python, C++) for software engineers.`, jobBenefits:
                `Healthcare Benefits: Access to medical, dental, and vision
                insurance plans to ensure employees' health and well-being.
                Retirement Plans: Employer-sponsored 401(k) or pension plans to
                help employees save for their future. Paid Time Off (PTO): Paid
                vacation days, holidays, and sick leave to provide a healthy
                work-life balance.` }); %> <%-
                include('../components/atom/Job-Card', {companyLogo:
                "assets/images/nina.jpg", jobListing: `Plumbing Pro Ready to
                Solve Your Water Woes`, employerName: "Isabella Torres",
                jobCategory: `Plumber`, jobSalary: `₱600/hour`, jobType:
                `Full-Time`, jobLocation: "Bacolod City,", jobDescription:
                `RHello, everyone! I'm Isabella, a skilled plumber ready to
                tackle all your plumbing issues head-on. From leaky faucets to
                complex drainage problems, I've got the tools and expertise to
                fix them all. With 7 years of plumbing experience, I'm committed
                to delivering prompt and efficient solutions. If you're in
                Bacolod City and in need of plumbing assistance, my hourly rate
                is ₱600. Let's put an end to those water woes together!`,
                jobRequirements: `Education: Bachelor's degree in Mechanical
                Engineering, Electrical Engineering, Computer Science, or a
                related field. Master's degree preferred. Experience: Minimum of
                4 years of hands-on engineering experience in a relevant
                industry, such as manufacturing, software development, or
                electronics. Technical Proficiency: Strong knowledge of CAD
                software (e.g., SolidWorks, AutoCAD) for mechanical engineers,
                or programming languages (e.g., Python, C++) for software
                engineers.`, jobBenefits: `Healthcare Benefits: Access to
                medical, dental, and vision insurance plans to ensure employees'
                health and well-being. Retirement Plans: Employer-sponsored
                401(k) or pension plans to help employees save for their future.
                Paid Time Off (PTO): Paid vacation days, holidays, and sick
                leave to provide a healthy work-life balance.` }); %> <%-
                include('../components/atom/Job-Card', {companyLogo:
                "assets/images/marcus.jpg", jobListing: ` Tile and Flooring
                Specialist at Your Service`, employerName: "Rafael Martinez",
                jobCategory: `Tile and Flooring Specialist`, jobSalary:
                `₱550/hour`, jobType: `Full-Time`, jobLocation: " Iloilo City",
                jobDescription: `Greetings, fellow homeowners and designers! I'm
                Rafael, a dedicated tile and flooring specialist passionate
                about transforming spaces one tile at a time. With 6 years of
                experience, I excel in tile installation, floor repair, and
                grout restoration. Whether it's a kitchen backsplash or a
                bathroom overhaul, I'm here to bring beauty and functionality to
                your floors. If you're in Iloilo City, my hourly rate is ₱550.
                Let's make your spaces stand out!`, jobRequirements: `Education:
                Bachelor's degree in Mechanical Engineering, Electrical
                Engineering, Computer Science, or a related field. Master's
                degree preferred. Experience: Minimum of 4 years of hands-on
                engineering experience in a relevant industry, such as
                manufacturing, software development, or electronics. Technical
                Proficiency: Strong knowledge of CAD software (e.g., SolidWorks,
                AutoCAD) for mechanical engineers, or programming languages
                (e.g., Python, C++) for software engineers.`, jobBenefits:
                `Healthcare Benefits: Access to medical, dental, and vision
                insurance plans to ensure employees' health and well-being.
                Retirement Plans: Employer-sponsored 401(k) or pension plans to
                help employees save for their future. Paid Time Off (PTO): Paid
                vacation days, holidays, and sick leave to provide a healthy
                work-life balance.` }); %> <%-
                include('../components/atom/Job-Card', {companyLogo:
                "assets/images/carla.jpg", jobListing: `Landscaping Artist for
                Your Outdoor Oasis`, employerName: "Elena Cruz", jobCategory:
                `Landscaper`, jobSalary: ` ₱600/hour`, jobType: `Full-Time`,
                jobLocation: "Baguio City", jobDescription: `Hello, nature
                lovers and homeowners with green thumbs! I'm Elena, a passionate
                landscaper who thrives on turning outdoor spaces into
                picturesque oases. With 8 years of experience, I'm well-versed
                in garden design, hardscaping, and plant selection. Whether it's
                a serene backyard retreat or a vibrant front yard, I'm here to
                create your dream landscape. Based in Baguio City, my hourly
                rate is ₱600. Let's bring nature's beauty to your doorstep!`,
                jobRequirements: `Education: Bachelor's degree in Mechanical
                Engineering, Electrical Engineering, Computer Science, or a
                related field. Master's degree preferred. Experience: Minimum of
                4 years of hands-on engineering experience in a relevant
                industry, such as manufacturing, software development, or
                electronics. Technical Proficiency: Strong knowledge of CAD
                software (e.g., SolidWorks, AutoCAD) for mechanical engineers,
                or programming languages (e.g., Python, C++) for software
                engineers.`, jobBenefits: `Healthcare Benefits: Access to
                medical, dental, and vision insurance plans to ensure employees'
                health and well-being. Retirement Plans: Employer-sponsored
                401(k) or pension plans to help employees save for their future.
                Paid Time Off (PTO): Paid vacation days, holidays, and sick
                leave to provide a healthy work-life balance.` }); %>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="job-card">
                <%- include('../components/atom/Job-Card', {companyLogo:
                "assets/images/carlo.jpg", jobListing: `Auto Mechanic`,
                employerName: "Miguel Reyes", jobCategory: `Auto Mechanic`,
                jobSalary: ` ₱650/hour`, jobType: `Full-Time`, jobLocation:
                "Cagayan de Oro", jobDescription: `Rapidly moving ahead, we
                leveraged our technology to enable other publishers to
                distribute their content digitally, with our mobile app as a
                service platform, TruNext for iOS, Android, and Windows. We then
                started a life, leadership and cultural destination website,
                with carefully curated and original content. An overnight hit,
                it attracted 6 million hits in less than 1.5 months. All done
                faster than any other major internet company, with zero
                marketing spends. Plash Digital Labs is now home to newly
                re-branded entities like our creative content site called
                Limitless, our mobile technology division called Trunext, and
                our news aggregation app called Daily Cup.`, jobRequirements:
                `Education: Bachelor's degree in Mechanical Engineering,
                Electrical Engineering, Computer Science, or a related field.
                Master's degree preferred. Experience: Minimum of 4 years of
                hands-on engineering experience in a relevant industry, such as
                manufacturing, software development, or electronics. Technical
                Proficiency: Strong knowledge of CAD software (e.g., SolidWorks,
                AutoCAD) for mechanical engineers, or programming languages
                (e.g., Python, C++) for software engineers.`, jobBenefits:
                `Healthcare Benefits: Access to medical, dental, and vision
                insurance plans to ensure employees' health and well-being.
                Retirement Plans: Employer-sponsored 401(k) or pension plans to
                help employees save for their future. Paid Time Off (PTO): Paid
                vacation days, holidays, and sick leave to provide a healthy
                work-life balance.` }); %> <%-
                include('../components/atom/Job-Card', {companyLogo:
                "assets/images/stephen.jpg", jobListing: `Masonry Craftsman
                Bringing Your Ideas to Life`, employerName: "Antonio Gomez",
                jobCategory: `Mason`, jobSalary: `₱500/hour`, jobType:
                `Full-Time`, jobLocation: "Pasig City", jobDescription: `Hey
                there, dreamers and builders! I'm Antonio, a skilled mason with
                a passion for creating solid foundations and structures. With 7
                years of experience, I specialize in brickwork, stone masonry,
                and concrete installations. From walls to walkways, I'm here to
                bring your architectural visions to life. If you're in Zamboanga
                City, my hourly rate is ₱500. Let's lay the groundwork for your
                next project!`, jobRequirements: `Education: Bachelor's degree
                in Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %> <%- include('../components/atom/Job-Card',
                {companyLogo: "assets/images/joshua.jpg", jobListing:
                `Experienced Welder Seeking Job Opportunities`, employerName:
                "Juanito Santos", jobCategory: `Welder/Fabricator`, jobSalary:
                `₱500/hour`, jobType: `Full-Time`, jobLocation: "Bobland",
                jobDescription: `Hello there! I'm Juanito, a skilled welder with
                over 7 years of experience in metal fabrication and welding. I
                specialize in MIG and TIG welding techniques, and I'm proficient
                in reading blueprints to create accurate and high-quality
                structures. Whether it's constructing fences, gates, or even
                custom metal artwork, I'm dedicated to delivering top-notch
                craftsmanship. I'm currently seeking freelance welding projects
                in the Metro Manila area. My hourly rate is ₱500, and I take
                pride in my punctuality and attention to detail. Let's
                collaborate on your next project!`, jobRequirements: `Education:
                Bachelor's degree in Mechanical Engineering, Electrical
                Engineering, Computer Science, or a related field. Master's
                degree preferred. Experience: Minimum of 4 years of hands-on
                engineering experience in a relevant industry, such as
                manufacturing, software development, or electronics. Technical
                Proficiency: Strong knowledge of CAD software (e.g., SolidWorks,
                AutoCAD) for mechanical engineers, or programming languages
                (e.g., Python, C++) for software engineers.`, jobBenefits:
                `Healthcare Benefits: Access to medical, dental, and vision
                insurance plans to ensure employees' health and well-being.
                Retirement Plans: Employer-sponsored 401(k) or pension plans to
                help employees save for their future. Paid Time Off (PTO): Paid
                vacation days, holidays, and sick leave to provide a healthy
                work-life balance.` }); %> <%-
                include('../components/atom/Job-Card', {companyLogo:
                "assets/images/regina.jpg", jobListing: `Dependable Electrician
                Available for Freelance Work`, employerName: "Maria Ramirez",
                jobCategory: `Electrician`, jobSalary: ` ₱600/hour`, jobType:
                `Full-Time`, jobLocation: " ₱600/hour", jobDescription: `Hi
                everyone! I'm Maria, a skilled electrician with a passion for
                fixing and installing electrical systems. With 5 years of
                experience, I've handled everything from residential wiring to
                commercial lighting projects. Safety is my priority, and I
                ensure all my work adheres to local electrical codes. If you're
                in need of a reliable electrician in Cebu City, I'm here to
                help. My hourly rate is ₱600, and I'm committed to delivering
                efficient and long-lasting solutions for your electrical needs.
                Let's create a safer and brighter environment together!`,
                jobRequirements: `Education: Bachelor's degree in Mechanical
                Engineering, Electrical Engineering, Computer Science, or a
                related field. Master's degree preferred. Experience: Minimum of
                4 years of hands-on engineering experience in a relevant
                industry, such as manufacturing, software development, or
                electronics. Technical Proficiency: Strong knowledge of CAD
                software (e.g., SolidWorks, AutoCAD) for mechanical engineers,
                or programming languages (e.g., Python, C++) for software
                engineers.`, jobBenefits: `Healthcare Benefits: Access to
                medical, dental, and vision insurance plans to ensure employees'
                health and well-being. Retirement Plans: Employer-sponsored
                401(k) or pension plans to help employees save for their future.
                Paid Time Off (PTO): Paid vacation days, holidays, and sick
                leave to provide a healthy work-life balance.` }); %>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="job-card">
                <%- include('../components/atom/Job-Card', {companyLogo:
                "assets/images/stephen.jpg", jobListing: `Skilled Carpenter
                Ready to Transform Your Spaces`, employerName: "Andres Cruz",
                jobCategory: `Carpenter`, jobSalary: `₱550/hour`, jobType:
                `Full-Time`, jobLocation: "Davao City", jobDescription:
                `Greetings, fellow DIY enthusiasts and homeowners! I'm Andres, a
                passionate carpenter with a knack for turning raw wood into
                functional and beautiful structures. From custom furniture
                pieces to complete kitchen remodels, I've got the skills to
                bring your visions to life. With 8 years of carpentry
                experience, I take pride in my precision and creativity. If
                you're in Davao City and looking to enhance your living spaces,
                I'm your go-to carpenter. My hourly rate is ₱550, and I'm
                excited to collaborate on projects that add value and charm to
                your home.`, jobRequirements: `Education: Bachelor's degree in
                Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %> <%- include('../components/atom/Job-Card',
                {companyLogo: "assets/images/carla.jpg", jobListing: `House
                Painter Eager to Transform Your Dream Interiors into Reality`,
                employerName: "Sofia Reyes", jobCategory: `Painter`, jobSalary:
                `₱450/hour`, jobType: `Full-Time`, jobLocation: "Manila",
                jobDescription: `Hello, art and design enthusiasts! I'm Sofia, a
                skilled painter with a passion for adding color and life to
                interior spaces. Whether you're aiming for a cozy, neutral
                palette or a vibrant and expressive atmosphere, I've got you
                covered. With 6 years of experience, I've mastered various
                painting techniques and can tackle walls, ceilings, and even
                intricate murals. Based in Manila, I'm ready to transform your
                interiors. My hourly rate is ₱450, and I'm dedicated to creating
                visually appealing and inspiring environments. Let's make your
                spaces shine!`, jobRequirements: `Education: Bachelor's degree
                in Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %> <%- include('../components/atom/Job-Card',
                {companyLogo: "assets/images/marcus.jpg", jobListing: `Skilled
                Roofing Specialist Ready to Protect Your Home`, employerName:
                "Andres Mendoza", jobCategory: `Roofer`, jobSalary: `
                ₱600/hour`, jobType: `Full-Time`, jobLocation: "Angeles City",
                jobDescription: `Rapidly moving ahead, we leveraged our
                technology to enable other publishers to distribute their
                content digitally, with our mobile app as a service platform,
                TruNext for iOS, Android, and Windows. We then started a life,
                leadership and cultural destination website, with carefully
                curated and original content. An overnight hit, it attracted 6
                million hits in less than 1.5 months. All done faster than any
                other major internet company, with zero marketing spends. Plash
                Digital Labs is now home to newly re-branded entities like our
                creative content site called Limitless, our mobile technology
                division called Trunext, and our news aggregation app called
                Daily Cup.`, jobRequirements: `Education: Bachelor's degree in
                Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %> <%- include('../components/atom/Job-Card',
                {companyLogo: "assets/images/joshua.jpg", jobListing: `Concrete
                Expert Artisan Crafting Your Vision in Stone`, employerName:
                "Rafael Torres", jobCategory: `Concrete Artisan`, jobSalary:
                `₱550/hour`, jobType: `Full-Time`, jobLocation: "Davao City",
                jobDescription: `Rapidly moving ahead, we leveraged our
                technology to enable other publishers to distribute their
                content digitally, with our mobile app as a service platform,
                TruNext for iOS, Android, and Windows. We then started a life,
                leadership and cultural destination website, with carefully
                curated and original content. An overnight hit, it attracted 6
                million hits in less than 1.5 months. All done faster than any
                other major internet company, with zero marketing spends. Plash
                Digital Labs is now home to newly re-branded entities like our
                creative content site called Limitless, our mobile technology
                division called Trunext, and our news aggregation app called
                Daily Cup.`, jobRequirements: `Education: Bachelor's degree in
                Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="job-card">
                <%- include('../components/atom/Job-Card', {companyLogo:
                "assets/images/stephen.jpg", jobListing: `Expert HVAC Technician
                for Your Cooling Needs`, employerName: "Carlos Fernandez",
                jobCategory: `HVAC Technician`, jobSalary: `₱700/hour`, jobType:
                `Full-Time`, jobLocation: "Makati City", jobDescription: `Hey
                there, homeowners and businesses! I'm Carlos, an experienced
                HVAC technician with a passion for ensuring comfortable indoor
                environments. With 9 years in the industry, I specialize in
                installing, maintaining, and repairing heating, ventilation, and
                air conditioning systems. From troubleshooting to system
                upgrades, I've got your cooling needs covered. Based in Makati
                City, my hourly rate is ₱700. Let's keep your spaces comfortable
                and efficient, no matter the weather!`, jobRequirements:
                `Education: Bachelor's degree in Mechanical Engineering,
                Electrical Engineering, Computer Science, or a related field.
                Master's degree preferred. Experience: Minimum of 4 years of
                hands-on engineering experience in a relevant industry, such as
                manufacturing, software development, or electronics. Technical
                Proficiency: Strong knowledge of CAD software (e.g., SolidWorks,
                AutoCAD) for mechanical engineers, or programming languages
                (e.g., Python, C++) for software engineers.`, jobBenefits:
                `Healthcare Benefits: Access to medical, dental, and vision
                insurance plans to ensure employees' health and well-being.
                Retirement Plans: Employer-sponsored 401(k) or pension plans to
                help employees save for their future. Paid Time Off (PTO): Paid
                vacation days, holidays, and sick leave to provide a healthy
                work-life balance.` }); %> <%-
                include('../components/atom/Job-Card', {companyLogo:
                "assets/images/nina.jpg", jobListing: `Plumbing Pro Ready to
                Solve Your Water Woes`, employerName: "Isabella Torres",
                jobCategory: `Plumber`, jobSalary: `₱600/hour`, jobType:
                `Full-Time`, jobLocation: "Bacolod City,", jobDescription:
                `RHello, everyone! I'm Isabella, a skilled plumber ready to
                tackle all your plumbing issues head-on. From leaky faucets to
                complex drainage problems, I've got the tools and expertise to
                fix them all. With 7 years of plumbing experience, I'm committed
                to delivering prompt and efficient solutions. If you're in
                Bacolod City and in need of plumbing assistance, my hourly rate
                is ₱600. Let's put an end to those water woes together!`,
                jobRequirements: `Education: Bachelor's degree in Mechanical
                Engineering, Electrical Engineering, Computer Science, or a
                related field. Master's degree preferred. Experience: Minimum of
                4 years of hands-on engineering experience in a relevant
                industry, such as manufacturing, software development, or
                electronics. Technical Proficiency: Strong knowledge of CAD
                software (e.g., SolidWorks, AutoCAD) for mechanical engineers,
                or programming languages (e.g., Python, C++) for software
                engineers.`, jobBenefits: `Healthcare Benefits: Access to
                medical, dental, and vision insurance plans to ensure employees'
                health and well-being. Retirement Plans: Employer-sponsored
                401(k) or pension plans to help employees save for their future.
                Paid Time Off (PTO): Paid vacation days, holidays, and sick
                leave to provide a healthy work-life balance.` }); %> <%-
                include('../components/atom/Job-Card', {companyLogo:
                "assets/images/marcus.jpg", jobListing: ` Tile and Flooring
                Specialist at Your Service`, employerName: "Rafael Martinez",
                jobCategory: `Tile and Flooring Specialist`, jobSalary:
                `₱550/hour`, jobType: `Full-Time`, jobLocation: " Iloilo City",
                jobDescription: `Greetings, fellow homeowners and designers! I'm
                Rafael, a dedicated tile and flooring specialist passionate
                about transforming spaces one tile at a time. With 6 years of
                experience, I excel in tile installation, floor repair, and
                grout restoration. Whether it's a kitchen backsplash or a
                bathroom overhaul, I'm here to bring beauty and functionality to
                your floors. If you're in Iloilo City, my hourly rate is ₱550.
                Let's make your spaces stand out!`, jobRequirements: `Education:
                Bachelor's degree in Mechanical Engineering, Electrical
                Engineering, Computer Science, or a related field. Master's
                degree preferred. Experience: Minimum of 4 years of hands-on
                engineering experience in a relevant industry, such as
                manufacturing, software development, or electronics. Technical
                Proficiency: Strong knowledge of CAD software (e.g., SolidWorks,
                AutoCAD) for mechanical engineers, or programming languages
                (e.g., Python, C++) for software engineers.`, jobBenefits:
                `Healthcare Benefits: Access to medical, dental, and vision
                insurance plans to ensure employees' health and well-being.
                Retirement Plans: Employer-sponsored 401(k) or pension plans to
                help employees save for their future. Paid Time Off (PTO): Paid
                vacation days, holidays, and sick leave to provide a healthy
                work-life balance.` }); %> <%-
                include('../components/atom/Job-Card', {companyLogo:
                "assets/images/carla.jpg", jobListing: `Landscaping Artist for
                Your Outdoor Oasis`, employerName: "Elena Cruz", jobCategory:
                `Landscaper`, jobSalary: ` ₱600/hour`, jobType: `Full-Time`,
                jobLocation: "Baguio City", jobDescription: `Hello, nature
                lovers and homeowners with green thumbs! I'm Elena, a passionate
                landscaper who thrives on turning outdoor spaces into
                picturesque oases. With 8 years of experience, I'm well-versed
                in garden design, hardscaping, and plant selection. Whether it's
                a serene backyard retreat or a vibrant front yard, I'm here to
                create your dream landscape. Based in Baguio City, my hourly
                rate is ₱600. Let's bring nature's beauty to your doorstep!`,
                jobRequirements: `Education: Bachelor's degree in Mechanical
                Engineering, Electrical Engineering, Computer Science, or a
                related field. Master's degree preferred. Experience: Minimum of
                4 years of hands-on engineering experience in a relevant
                industry, such as manufacturing, software development, or
                electronics. Technical Proficiency: Strong knowledge of CAD
                software (e.g., SolidWorks, AutoCAD) for mechanical engineers,
                or programming languages (e.g., Python, C++) for software
                engineers.`, jobBenefits: `Healthcare Benefits: Access to
                medical, dental, and vision insurance plans to ensure employees'
                health and well-being. Retirement Plans: Employer-sponsored
                401(k) or pension plans to help employees save for their future.
                Paid Time Off (PTO): Paid vacation days, holidays, and sick
                leave to provide a healthy work-life balance.` }); %>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/shared/footer'); %>
<script>
  // Initialize Swiper
  const swiper = new Swiper("#jobCards", {
    slidesPerView: 1,
    spaceBetween: 560,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
