<% title = "Job Details" %> <%- include('../partials/shared/header-2'); %>
<!-- hero container -->
<div
  class="w-full bg-cat bg-contain h-[40vh] border border-black flex justify-center items-end"
>
  <%- include('../components/atom/Hero-Photo', {candidatePhoto:
  "assets/images/icons/Mechanic-repair-professions-jobs-man.svg"}); %>
</div>

<div class="flex flex-wrap md:flex-nowrap w-full bg-white">
  <div class="w-full p-0 flex flex-col md:flex-row justify-between">
    <div class="w-full">
      <div class="flex flex-col gap-4 p-2">
        <%- include('../components/atom/Profile-Card', { candidateName: `John
        Smith`, candidateSpecialization: `Product Design (web, Mobile App)`,
        candidateExperience: "7", candidateHours: "48", connectionName:
        `assets/images/icons/Engineer-professions-jobs-worker-man.svg`,
        connectionName2:
        `assets/images/icons/Chef-professions-jobs-avatar-cooker.svg`,
        connectionName3:
        "assets/images/icons/Maid-woman-profession-jobs-avatar.svg",
        connectionName4:
        "assets/images/icons/Farmer-man-farming-gardening-jobs.svg",connectionNumbers:
        `163`, followerCount: `290`, followingCount: "36",candidateEmail:
        `johnsmith@gmail.com`,candidateContact: `0904968368`,
        candidateBirthdate: `16/06/1987`, candidateGender:
        "Male",candidateCountry: `Germany`, candidateCity: `Berlin` }); %>
      </div>
      <div
        class="flex justify-around border-2 border-black items-center py-4 bg-[#fffbea] rounded-2xl"
      >
        <p class="font-semibold text-lg">Portfolio</p>
        <div class="flex gap-4 items-center">
          <button
            class="flex items-center border-2 border-black rounded-full px-2 bg-white"
          >
            +
          </button>
          <p class="font-bold">Add Portfolio</p>
        </div>
      </div>
      <div
        class="flex gap-4 justify-around items-center p-8 flex-wrap w-full mb-6"
      >
       
          <div
            class="flex flex-col justify-center items-center border border-black p-2 w-[15%]"
          >
            <img
              src="https://fleurbudget.com/fleur_website.png"
              alt=""
              class=""
            />

        </div>
        <div
          class="flex justify-center items-center border-2 border-black gap-4 p-12"
        >
          <div
            class="flex flex-col justify-center items-center border border-black p-2"
          >
            <p class="">+</p>
            <p class="">Dwell Branding</p>
          </div>
        </div>
        <div
          class="flex flex-col justify-center items-center border-2 border-black gap-4 p-12"
        >
          <div
            class="flex flex-col justify-center items-center border border-black p-2"
          >
            <p class="">+</p>
            <p class="">Dwell Branding</p>
          </div>
        </div>
        <div
          class="flex justify-center items-center border-2 border-black gap-4 p-12"
        >
          <div
            class="flex flex-col justify-center items-center border border-black p-2"
          >
            <p class="">+</p>
            <p class="">Dwell Branding</p>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-4 p-2 w-full">
        <%- include('../components/atom/Candidate-Profile', {
        candidateSelfDescription: ` Results-driven Mobile App Developer with 5+
        years of experience in designing, developing, testing, and maintaining
        mobile applications across various platforms. Adept in collaborating
        with cross-functional teams to achieve business and technology goals.
        Passionate about creating user-centered design and efficient coding to
        create responsive and user-friendly applications.`, candidateSkills:
        `UI/UX Design`, candidateSkills2: `Web Design`, candidateSkills3:
        `Mobile App Design`, candidateSkills4: `Branding`, candidateProfession:
        `Web and Mobile Application Development`, candidatePastCompany: "7",
        candidatePastCompany: `Senior Mobile App Developer`,
        candidateCompanyDuration: `06/2014-Present`,
        candidateProfessionDescription: `- Led a team of 4 developers, providing
        mentorship and overseeing the entire app development life cycle.`,
        candidateProfessionDescription2: `- Developed and launched 10+ iOS and
        Android apps, resulting in over 2 million downloads.`,
        candidateProfessionDescription3: `- Collaborated with product managers
        and designers to ensure a seamless user experience.`,
        candidateProfessionDescription4: `- Conducted code reviews, unit
        testing, and continuous integration to maintain code quality.`,
        candidateSchool: `State University, New Haven, CT`, candidateEducation:
        `College`, candidateDegree: `Bachelor of Science in Computer Science`,
        candidateEducationPeriod: `08/2009 - 05/2014`, candidateAward: `Mobile
        Excellence Award 2020`, candidateAwarder: `International Mobile App
        Developers Association`, candidateAwardYear: `2020` }); %>
      </div>
      <!-- job list -->
      <div class="w-full p-8 flex flex-col items-center gap-4">
        <p class="text-2xl font-bold">Feedback</p>
        <div class="job-card">
          <%- include('../components/atom/Feedback-Card', {candidateProfile:
          "assets/images/icons/Maid-woman-profession-jobs-avatar.svg", jobDone:
          `Web / Mobile App Development - 10 Years of Experience, Satisfaction
          Guaranteed!`, jobCategory: "Mobile App Development", jobPayment:
          `100-150`, clientFeedback: `Working with John on our web/mobile app
          project was an absolute pleasure. Their attention to detail and
          commitment to delivering a top-notch user experience really stood out.
          `, clientName: `Cassandra`, feedbackDate: `1 days ago` }); %><%-
          include('../components/atom/Feedback-Card', {candidateProfile:
          "assets/images/icons/Taxi driver-professions-jobs-avatar-man.svg",
          jobDone: `Web / Mobile App Development - 10 Years of Experience,
          Satisfaction Guaranteed!`, jobCategory: "Mobile App Development",
          jobPayment: `100-150`, clientFeedback: `"I had the pleasure of working
          with John on a mobile app project, and the experience was fantastic.
          The app not only meets our functional requirements but also goes the
          extra mile in terms of design and usability. `, clientName: `Zachary`,
          feedbackDate: `3 days ago` }); %><%-
          include('../components/atom/Feedback-Card', {candidateProfile:
          "assets/images/icons/Farmer-man-farming-gardening-jobs.svg", jobDone:
          `Web / Mobile App Development - 10 Years of Experience, Satisfaction
          Guaranteed!`, jobCategory: "Mobile App Development", jobPayment:
          `100-150`, clientFeedback: `As a fellow dev, I can confidently say
          that he knows his stuff. The app they developed is both user-friendly
          and aesthetically pleasing.`, clientName: `Joel`, feedbackDate: `5
          days ago` }); %> <%- include('../components/atom/Feedback-Card',
          {candidateProfile:
          "assets/images/icons/Chef-professions-jobs-avatar-cooker.svg",
          jobDone: `Web / Mobile App Development - 10 Years of Experience,
          Satisfaction Guaranteed!`, jobCategory: "Mobile App Development",
          jobPayment: `100-150`, clientFeedback: `"It's rare to find a developer
          who combines technical skill with an eye for design, but John has done
          just that.`, clientName: `Jack`, feedbackDate: `9 days ago` }); %>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/shared/footer'); %>
<script>
  // Initialize Swiper
  const swiper = new Swiper('#jobCards', {
    slidesPerView: 1,
    spaceBetween: 560,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>

        <div
          class="flex justify-center items-center border-2 border-black gap-4 p-12"
        >
          <div
            class="flex flex-col justify-center items-center border border-black p-2"
          >
            <p class="">+</p>
            <p class="">Dwell Branding</p>
          </div>
        </div>
        <div