<% title = "Eurus - Candidate Details" %> <%-
include('../partials/shared/header-2'); %>
<!-- hero container -->
<div
  class="w-full bg-cat bg-contain h-[40vh] border border-black flex justify-center items-end"
>
  <%- include('../components/atom/Hero-Photo', {candidatePhoto:
  "assets/images/icons/Mechanic-repair-professions-jobs-man.svg"}); %>
</div>

<div class="flex flex-wrap md:flex-nowrap w-full bg-white">
  <div class="w-full p-0 flex flex-col md:flex-row justify-between">
    <div class="w-full">
      <div class="flex flex-col gap-4 p-2">
        <%- include('../components/atom/Profile-Card', { candidateName:
        `Matthias Schneider`, candidateSpecialization: `Electrical and Home
        Automation Services`, candidateExperience: "5", candidateHours: "48",
        connectionName:
        `assets/images/icons/Engineer-professions-jobs-worker-man.svg`,
        connectionName2:
        `assets/images/icons/Chef-professions-jobs-avatar-cooker.svg`,
        connectionName3:
        "assets/images/icons/Maid-woman-profession-jobs-avatar.svg",
        connectionName4:
        "assets/images/icons/Farmer-man-farming-gardening-jobs.svg",connectionNumbers:
        `163`, followerCount: `290`, followingCount: "36",candidateEmail:
        `mattschneider@gmail.com`,candidateContact: `0904968368`,
        candidateBirthdate: `16/06/1987`, candidateGender:
        "Male",candidateCountry: `Germany`, candidateCity: `Berlin` }); %>
      </div>
      <div
        class="flex justify-around border-2 border-black items-center py-4 bg-[#fffbea] rounded-2xl"
      >
        <p class="font-semibold text-lg">Portfolio</p>
        <div class="flex gap-4 items-center">
          <button
            class="flex items-center border-2 border-black rounded-full px-2 bg-white"
          >
            +
          </button>
          <p class="font-bold">Add Portfolio</p>
        </div>
      </div>
      <div
        class="flex gap-4 justify-around items-center p-8 flex-wrap w-full mb-6"
      >
        <div
          class="flex flex-col justify-center items-center border border-black p-2 w-[40%] md:w-[20%]"
        >
          <img
            src="https://i.pinimg.com/736x/18/72/2d/18722df24ea90335e1c13a9afe105401--residential-electrical-residential-lighting.jpg"
            alt=""
            class=""
          />
        </div>
        <div
          class="flex flex-col justify-center items-center border border-black p-2 w-[45%] md:w-[25%]"
        >
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3CK22NzYkyyZmDAVxiOmO0LOv5UiL3nlKyA&usqp=CAU"
            alt=""
            class=""
          />
        </div>
        <div
          class="flex flex-col justify-center items-center border border-black p-2 w-[40%] md:w-[25%]"
        >
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjvv7E0JeB3_kHQwyIlu1mPF5nHtKrJQNeFKa1b3-TCvUu-v3oNAWjFEbccRJfvShjrwY&usqp=CAU"
            alt=""
            class=""
          />
        </div>
        <div
          class="flex flex-col justify-center items-center border border-black p-2 w-[40%] md:w-[20%]"
        >
          <img
            src="https://www.electronicshub.org/wp-content/uploads/2016/10/Arduino-Home-Automation-1.jpg"
            alt=""
            class=""
          />
        </div>
      </div>
      <div class="flex flex-col gap-4 p-2 w-full">
        <%- include('../components/atom/Candidate-Profile', {
        candidateSelfDescription: ` I am a licensed and experienced electrician
        with over 10 years in the field. My dedication to quality workmanship
        and safety is reflected in every project I undertake. Whether it's a
        minor repair or a major installation, I approach every task with the
        same level of precision and care.`, candidateSkills: `Electrical
        Installations`, candidateSkills2: `Troubleshooting & Repairs`,
        candidateSkills3: `Commercial & Residential Expertise`,
        candidateSkills4: `Smart Home Integration`, candidateProfession: `Lead
        Electrician`, candidatePastCompany: "7", candidatePastCompany:
        `BrightTech Electrical Services`, candidateCompanyDuration:
        `06/2014-Present`, candidateProfessionDescription: `- Managed a team of
        electricians for various residential and commercial projects.`,
        candidateProfessionDescription2: `- Oversaw electrical installations,
        repairs, and maintenance, ensuring quality and adherence to safety
        standards.`, candidateProfessionDescription3: `- Coordinated with other
        contractors and clients, providing timely and efficient services.`,
        candidateProfessionDescription4: `- Successfully completed over 150
        projects, including major commercial build-outs and high-end residential
        renovations.`, candidateSchool: `Chicago Technical College, Chicago,
        IL`, candidateEducation: `College`, candidateDegree: `Associate Degree
        in Electrical Technology`, candidateEducationPeriod: `08/2009 -
        05/2012`, candidateAward: `Excellence in Customer Service Award`,
        candidateAwarder: `Chicago Electrician Association`, candidateAwardYear:
        `2020` }); %>
      </div>
      <!-- job list -->
      <div class="w-full p-8 flex flex-col items-center gap-4">
        <p class="text-2xl font-bold">Feedback</p>
        <div class="job-card">
          <%- include('../components/atom/Feedback-Card', {candidateProfile:
          "assets/images/icons/Maid-woman-profession-jobs-avatar.svg", jobDone:
          `Electrical and Home Automation Services, Satisfaction Guaranteed!`,
          jobCategory: "Electrical Services", jobPayment: `100-150`,
          clientFeedback: `Matthias' professionalism and attention to detail in
          our office's electrical wiring were second to none. He worked
          efficiently and ensured everything was done to the highest safety
          standards.`, clientName: `Cassandra`, feedbackDate: `1 days ago` });
          %><%- include('../components/atom/Feedback-Card', {candidateProfile:
          "assets/images/icons/Taxi driver-professions-jobs-avatar-man.svg",
          jobDone: `Electrical and Home Automation Services, Satisfaction
          Guaranteed!`, jobCategory: "Home Automation Services", jobPayment:
          `100-150`, clientFeedback: `Matthias' expertise in home automation has
          transformed our living experience. Our smart lighting and security
          system not only add convenience but also make our home more
          energy-efficient.`, clientName: `Zachary`, feedbackDate: `3 days ago`
          }); %><%- include('../components/atom/Feedback-Card',
          {candidateProfile:
          "assets/images/icons/Farmer-man-farming-gardening-jobs.svg", jobDone:
          `Electrical and Home Automation Services, Satisfaction Guaranteed!`,
          jobCategory: "Electrical Services", jobPayment: `100-150`,
          clientFeedback: `We faced a major electrical outage, and Matt's
          emergency service was a lifesaver. He quickly identified the issue and
          repaired it promptly, minimizing our downtime.`, clientName: `Joel`,
          feedbackDate: `5 days ago` }); %> <%-
          include('../components/atom/Feedback-Card', {candidateProfile:
          "assets/images/icons/Chef-professions-jobs-avatar-cooker.svg",
          jobDone: `Electrical and Home Automation Services, Satisfaction
          Guaranteed!`, jobCategory: "Electrical Services", jobPayment:
          `100-150`, clientFeedback: `We recently renovated our kitchen, and
          Matthias' electrical work was crucial to the project's success. His
          expertise in lighting design transformed the space. We highly
          recommend his services!`, clientName: `Jack`, feedbackDate: `9 days
          ago` }); %>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/shared/footer'); %>
<script>
  // Initialize Swiper
  const swiper = new Swiper('#jobCards', {
    slidesPerView: 1,
    spaceBetween: 560,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>
