<% title = "Job Details" %> <%- include('../partials/shared/header-2'); %>
<!-- hero container -->
<div
  class="w-full bg-blue-300 h-[40vh] border border-black flex justify-center items-end"
>
  <%- include('../components/atom/Hero-Photo', {candidatePhoto:
  "assets/images/icons/Engineer-professions-jobs-worker-man.svg"}); %>
</div>

<div class="flex flex-wrap md:flex-nowrap w-full">
  <div class="w-full p-0 flex flex-col md:flex-row justify-between">
    <div class="w-full">
      <div class="flex flex-col gap-4 p-2">
        <%- include('../components/atom/Profile-Card', { candidateName: `John
        Smith`, candidateSpecialization: `Product Design (web, Mobile App)`,
        candidateExperience: "7", candidateHours: "48", connectionName:
        "assets/images/icons/Engineer-professions-jobs-worker-man.svg",
        connectionName2:
        "assets/images/icons/Engineer-professions-jobs-worker-man.svg",
        connectionName3:
        "assets/images/icons/Engineer-professions-jobs-worker-man.svg",
        connectionName4:
        "assets/images/icons/Engineer-professions-jobs-worker-man.svg",connectionNumbers:
        `163`, followerCount: `290`, followingCount: "36",candidateEmail:
        `johnsmith@gmail.com`,candidateContact: `0904968368`,
        candidateBirthdate: `16/06/1987`, candidateGender:
        "Male",candidateCountry: `Germany`, candidateCity: `Berlin` }); %>
      </div>
      <div class="flex justify-center items-center gap-4 p-8">
        <%- include('../components/atom/Button.ejs', {buttonText: "Follow",
        buttonVariant: "primary"}); %> <%-
        include('../components/atom/Button.ejs', {buttonText: "Apply",
        buttonVariant: "primary"}); %>
      </div>
      <div class="flex justify-around border border-black items-center">
        <p class="">Portfolio</p>
        <div class="flex gap-4 items-center border border-black">
          <button
            class="flex items-center border border-black rounded-full px-2"
          >
            +
          </button>
          <p class="">Project of Company</p>
        </div>
      </div>
      <div
        class="flex gap-4 justify-center items-center border border-black p-8 flex-wrap w-full"
      >
        <div
          class="flex justify-center items-center border border-black gap-4 p-12"
        >
          <div
            class="flex flex-col justify-center items-center border border-black p-2"
          >
            <p class="">+</p>
            <p class="">Dwell Branding</p>
          </div>
        </div>
        <div
          class="flex justify-center items-center border border-black gap-4 p-12"
        >
          <div
            class="flex flex-col justify-center items-center border border-black p-2"
          >
            <p class="">+</p>
            <p class="">Dwell Branding</p>
          </div>
        </div>
        <div
          class="flex flex-col justify-center items-center border border-black gap-4 p-12"
        >
          <div
            class="flex flex-col justify-center items-center border border-black p-2"
          >
            <p class="">+</p>
            <p class="">Dwell Branding</p>
          </div>
        </div>
        <div
          class="flex justify-center items-center border border-black gap-4 p-12"
        >
          <div
            class="flex flex-col justify-center items-center border border-black p-2"
          >
            <p class="">+</p>
            <p class="">Dwell Branding</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col gap-4 p-2 border border-black w-full md:w-[70vw]"
      >
        <%- include('../components/atom/Employer-Profile', {
        employerSelfDescription: ` Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Assumenda ipsa minus vitae cupiditate aliquam expedita
        earum perspiciatis ullam, accusamus nobis laudantium iusto beatae
        minima, adipisci velit omnis id, voluptas incidunt!`, employerSkills:
        `UI/UX Design`, employerSkills2: `Web Design`, employerSkills3: `Mobile
        App Design`, employerSkills4: `Branding`, employerProfession: `Product
        Design (web, Mobile App)`, employerPastCompany: `HKD Design`,
        employerCompanyDuration: `06/2010-Present`,
        employerProfessionDescription: `Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Temporibus quaerat quos explicabo error tempore veniam
        ad repudiandae maxime, minima cumque ducimus eius amet eligendi magni
        non corrupti! Iste, reiciendis aliquam?`, employerSchool: `Hanoi College
        of Education`, employerEducation: `College`, employerDegree: `Bachelor's
        Degree in Information Technology`, employerEducationPeriod:
        `08/2007-06/2010`, employerAward: `Excellent Staff`, employerAwarder:
        `VNP`, employerAwardYear: `2015`, employerCompany: `Moontheme Studio
        Inc.`, companyEmployeeCount: `25`, companyFields: `Web Services, Design
        Services`,employerCompanyIntroduction: `Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Nam enim aliquam sapiente debitis error,
        officia dicta optio, ipsam provident vitae animi, aliquid veritatis
        totam? Voluptatibus aliquid unde excepturi est provident?`,
        employerSalaryRange: `1000-1700`, employerWebsite: `www.moontheme.net`,
        employerContact: `084-52315-3445`, employerLocation: `Hanoi, Vietnam`
        }); %>
      </div>
      <!-- job list -->
    </div>
  </div>
</div>
<%- include('../partials/shared/footer'); %>
<script>
  // Initialize Swiper
  const swiper = new Swiper('#jobCards', {
    slidesPerView: 1,
    spaceBetween: 560,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>
