<% title = "Job Details" %> <%- include('../partials/shared/header'); %>
<!-- hero container -->
<section
  class="bg-gradient-to-r from-[#087FE0] from-10% via-[#0685cc] via-30% to-[#05e6ba] to-90% h-[90vh]"
>
  <div class="flex w-full h-full">
    <div
      class="w-full flex flex-col flex-wrap content-center justify-center items-center md:items-start"
    >
      <h1
        class="w-full md:w-1/2 font-montserrat text-white text-center md:text-left font-bold md:text-5xl 2xl:text-7xl xl:text-6xl lg:text-6xl"
      >
        Browse Jobs on Eurus
      </h1>
      <span
        class="w-1/2 font-open text-white 2xl:text-xl lg:text- font-light mt-8"
      >
        Where the world meets startups, Millions of small businesses use
        Freelancers to turn their ideas into a reality</span
      >
      <div class="w-[70%] ml-[-5rem]">
        <%- include('../components/atom/Find-Jobs'); %>

        <div class="w-full text-white pl-[2rem]">
          <%- include('../components/atom/Join-Today'); %>
        </div>
      </div>
    </div>
    <section
      class="w-full h-screen flex-col-reverse md:flex-row justify-center items-center overflow-hidden hidden md:flex"
    >
      <div
        class="w-full md:w-1/2 flex justify-center items-center transform scale-75 md:scale-125 translate-x-20 md:translate-x-40 translate-y-0 md:-translate-y-20"
      >
        <img
          class="w-60 h-90 rounded-full"
          src="assets/images/lady1.png"
          alt=""
        />

        <!-- Inner -->
        <div
          class="hw-inner flex justify-between items-center absolute border border-gray-800 rounded-full animate-spin-slow anim-8s"
        >
          <div
            class="bg-white p-1 rounded-full custom-shadow h-10 w-10 transform -translate-x-5"
          >
            <img
              class="h-9 w-9 object-center animate-rotate-img anim-8s"
              src="assets/images/umbrella.svg"
              alt=""
            />
          </div>
          <div
            class="bg-white overflow-hidden rounded-full custom-shadow h-10 w-10 transform translate-x-5"
          >
            <img
              class="h-10 w-10 object-center animate-rotate-img anim-8s"
              src="assets/images/microsoft.svg"
              alt=""
            />
          </div>
        </div>

        <!-- Outer -->
        <div
          class="hw-outer flex justify-between items-center absolute border border-gray-800 rounded-full animate-spin-slow"
        >
          <div class="flex justify-between items-center h-full w-full">
            <div
              class="bg-white p-1 rounded-full custom-shadow h-10 w-10 transform translate-x-8 translate-y-40"
            >
              <img
                class="h-full w-full object-center animate-rotate-img"
                src="assets/images/shopee.png"
                alt=""
              />
            </div>
            <div
              class="bg-white overflow-hidden p-1 rounded-full custom-shadow h-10 w-10 transform -translate-x-8 -translate-y-40"
            >
              <img
                class="h-full w-full object-center animate-rotate-img"
                src="assets/images/hsbc.svg"
                alt=""
              />
            </div>
          </div>

          <div class="absolute flex justify-between items-center h-full w-full">
            <div
              class="bg-white p-1 rounded-full custom-shadow h-10 w-10 transform translate-x-8 -translate-y-40"
            >
              <img
                class="h-full w-full object-center animate-rotate-img"
                src="assets/images/google.svg"
                alt=""
              />
            </div>
            <div
              class="bg-white overflow-hidden p-1 rounded-full custom-shadow h-10 w-10 transform -translate-x-8 translate-y-40"
            >
              <img
                class="h-full w-full object-center animate-rotate-img"
                src="assets/images/meta.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <script>
        hljs.highlightAll();
      </script>
    </section>
  </div>
</section>

<div class="flex flex-wrap md:flex-nowrap">
  <div
    class="w-full p-0 flex flex-col md:flex-row justify-between border border-black"
  >
    <!-- #profile section - Will be placed first in mobile view -->
    <div
      class="w-full md:w-1/4 flex flex-col gap-8 border-2 border-gray-300 p-4 md:order-4"
    >
      <div class="flex flex-col gap-4">
        <%- include('../components/atom/Company-Profile-S', { companyLogo:
        "assets/images/company-logo1.svg", companyName: "Atomix",
        companyLocation: "Hanoi, Vietnam", jobType: "Full-time", JobCategory:
        `Cloud Consultation, Cloud Services` }); %>
      </div>
    </div>

    <div class="w-full md:w-3/4">
      <div class="flex flex-col gap-4 p-2 border border-black">
        <%- include('../components/atom/Job-Details-Full', { jobHeader: `Design
        a Professional Website`, jobLocation: "Hanoi, Vietnam", jobType:
        "Full-time", jobSalary: "$1000-1500", jobRoles: `Web Development, Design
        Services, SEO Optimization`, jobReviews: "14", jobDescription: `We are
        seeking a talented and creative Website Designer to join our dynamic
        team. The ideal candidate will have a passion for designing visually
        appealing and user-friendly websites that resonate with our diverse
        clientele.`, jobRequirements: `Collaborate with stakeholders to
        understand business requirements and translate them into functional
        design.`, jobRequirements2: `Create wireframes, mockups, and prototypes
        that effectively communicate design ideas.`, jobRequirements3: `Design
        visually appealing web pages with a focus on user experience and brand
        alignment.`, jobRequirements4: `Work closely with developers to ensure
        designs are implemented accurately.`, jobRequirements5: `Conduct user
        testing to optimize design for usability and performance.`,
        jobRequirements6: `Stay up-to-date with current design trends and
        technologies to ensure our web design remains competitive.`,
        skillRequired: `Graphic Design, Banner Design, Logo Design, Photo
        Editing`, jobCategory: `Cloud Consultation, Cloud Services`,
        employeeCount: "50-75", salaryRange: `$1000-1700 USD/month`,
        companyWebsite: `www.atomix.com`, companyLocation: `Hanoi, Vietnam` });
        %>
      </div>
      <!-- job list -->
      <div class="p-4 overflow-hidden">
        <div id="jobCards" class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="job-card">
                <%- include('../components/atom/Job-Card', {companyLogo:
                "assets/images/icons/iron-work.svg", jobListing: `Welder Wanted:
                Join MetalCraft Fabrications and Shape the Future!`,
                employerName: "David Iron Works", jobCategory: `Welder`,
                jobSalary: `₱85000-90000`, jobType: `Full-Time`, jobLocation:
                "Manila", jobDescription: `Rapidly moving ahead, we leveraged
                our technology to enable other publishers to distribute their
                content digitally, with our mobile app as a service platform,
                TruNext for iOS, Android, and Windows. We then started a life,
                leadership and cultural destination website, with carefully
                curated and original content. An overnight hit, it attracted 6
                million hits in less than 1.5 months. All done faster than any
                other major internet company, with zero marketing spends. Plash
                Digital Labs is now home to newly re-branded entities like our
                creative content site called Limitless, our mobile technology
                division called Trunext, and our news aggregation app called
                Daily Cup.`, jobRequirements: `Education: Bachelor's degree in
                Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %> <%- include('../components/atom/Job-Card',
                {companyLogo: "assets/images/icons/samira.svg", jobListing:
                `Plumbing Pro Opportunity: Samira Hadid Enterprise is Hiring!`,
                employerName: "Samira Hadid", jobCategory: `Plumber`, jobSalary:
                `₱85000-90000`, jobType: `Full-Time`, jobLocation: " Marikina",
                jobDescription: `Rapidly moving ahead, we leveraged our
                technology to enable other publishers to distribute their
                content digitally, with our mobile app as a service platform,
                TruNext for iOS, Android, and Windows. We then started a life,
                leadership and cultural destination website, with carefully
                curated and original content. An overnight hit, it attracted 6
                million hits in less than 1.5 months. All done faster than any
                other major internet company, with zero marketing spends. Plash
                Digital Labs is now home to newly re-branded entities like our
                creative content site called Limitless, our mobile technology
                division called Trunext, and our news aggregation app called
                Daily Cup.`, jobRequirements: `Education: Bachelor's degree in
                Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %> <%- include('../components/atom/Job-Card',
                {companyLogo: "assets/images/icons/bord.svg", jobListing: `Bord
                is Hiring: HVAC Technician Role in Cebu City`, employerName:
                "Bord Modern House", jobCategory: `HVAC Technician`, jobSalary:
                `₱85000-90000`, jobType: `Full-Time`, jobLocation: "Cebu",
                jobDescription: `Rapidly moving ahead, we leveraged our
                technology to enable other publishers to distribute their
                content digitally, with our mobile app as a service platform,
                TruNext for iOS, Android, and Windows. We then started a life,
                leadership and cultural destination website, with carefully
                curated and original content. An overnight hit, it attracted 6
                million hits in less than 1.5 months. All done faster than any
                other major internet company, with zero marketing spends. Plash
                Digital Labs is now home to newly re-branded entities like our
                creative content site called Limitless, our mobile technology
                division called Trunext, and our news aggregation app called
                Daily Cup.`, jobRequirements: `Education: Bachelor's degree in
                Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %> <%- include('../components/atom/Job-Card',
                {companyLogo: "assets/images/icons/home-build.svg", jobListing:
                `Build the Future: Home Build Construction Needs You!`,
                employerName: "Home Build", jobCategory: `Construction Laborer`,
                jobSalary: `₱85000-90000`, jobType: `Full-Time`, jobLocation:
                "Makati", jobDescription: `Rapidly moving ahead, we leveraged
                our technology to enable other publishers to distribute their
                content digitally, with our mobile app as a service platform,
                TruNext for iOS, Android, and Windows. We then started a life,
                leadership and cultural destination website, with carefully
                curated and original content. An overnight hit, it attracted 6
                million hits in less than 1.5 months. All done faster than any
                other major internet company, with zero marketing spends. Plash
                Digital Labs is now home to newly re-branded entities like our
                creative content site called Limitless, our mobile technology
                division called Trunext, and our news aggregation app called
                Daily Cup.`, jobRequirements: `Education: Bachelor's degree in
                Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="job-card">
                <%- include('../components/atom/Job-Card', {companyLogo:
                "assets/images/icons/decorateur.svg", jobListing: `Join
                Decorateur in Pasig City`, employerName: " Decorateur",
                jobCategory: `Construction Laborer`, jobSalary: `₱85000-90000`,
                jobType: `Full-Time`, jobLocation: "Pasig", jobDescription:
                `Rapidly moving ahead, we leveraged our technology to enable
                other publishers to distribute their content digitally, with our
                mobile app as a service platform, TruNext for iOS, Android, and
                Windows. We then started a life, leadership and cultural
                destination website, with carefully curated and original
                content. An overnight hit, it attracted 6 million hits in less
                than 1.5 months. All done faster than any other major internet
                company, with zero marketing spends. Plash Digital Labs is now
                home to newly re-branded entities like our creative content site
                called Limitless, our mobile technology division called Trunext,
                and our news aggregation app called Daily Cup.`,
                jobRequirements: `Education: Bachelor's degree in Mechanical
                Engineering, Electrical Engineering, Computer Science, or a
                related field. Master's degree preferred. Experience: Minimum of
                4 years of hands-on engineering experience in a relevant
                industry, such as manufacturing, software development, or
                electronics. Technical Proficiency: Strong knowledge of CAD
                software (e.g., SolidWorks, AutoCAD) for mechanical engineers,
                or programming languages (e.g., Python, C++) for software
                engineers.`, jobBenefits: `Healthcare Benefits: Access to
                medical, dental, and vision insurance plans to ensure employees'
                health and well-being. Retirement Plans: Employer-sponsored
                401(k) or pension plans to help employees save for their future.
                Paid Time Off (PTO): Paid vacation days, holidays, and sick
                leave to provide a healthy work-life balance.` }); %> <%-
                include('../components/atom/Job-Card', {companyLogo:
                "assets/images/icons/luxury.svg", jobListing: `Heavy Operator
                Position at Luxury Premium`, employerName: "Luxury Premium",
                jobCategory: `Heavy Equipment Operator`, jobSalary:
                `₱85000-90000`, jobType: `Full-Time`, jobLocation: "Pampanga",
                jobDescription: `Rapidly moving ahead, we leveraged our
                technology to enable other publishers to distribute their
                content digitally, with our mobile app as a service platform,
                TruNext for iOS, Android, and Windows. We then started a life,
                leadership and cultural destination website, with carefully
                curated and original content. An overnight hit, it attracted 6
                million hits in less than 1.5 months. All done faster than any
                other major internet company, with zero marketing spends. Plash
                Digital Labs is now home to newly re-branded entities like our
                creative content site called Limitless, our mobile technology
                division called Trunext, and our news aggregation app called
                Daily Cup.`, jobRequirements: `Education: Bachelor's degree in
                Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %> <%- include('../components/atom/Job-Card',
                {companyLogo: "assets/images/icons/coconut.svg", jobListing:
                `Paint Your Career: Join Coconut Cosmetics in Pasig City`,
                employerName: "Coconut Cosmetics", jobCategory: `Painter`,
                jobSalary: `₱85000-90000`, jobType: `Full-Time`, jobLocation:
                "Pasig City", jobDescription: `Rapidly moving ahead, we
                leveraged our technology to enable other publishers to
                distribute their content digitally, with our mobile app as a
                service platform, TruNext for iOS, Android, and Windows. We then
                started a life, leadership and cultural destination website,
                with carefully curated and original content. An overnight hit,
                it attracted 6 million hits in less than 1.5 months. All done
                faster than any other major internet company, with zero
                marketing spends. Plash Digital Labs is now home to newly
                re-branded entities like our creative content site called
                Limitless, our mobile technology division called Trunext, and
                our news aggregation app called Daily Cup.`, jobRequirements:
                `Education: Bachelor's degree in Mechanical Engineering,
                Electrical Engineering, Computer Science, or a related field.
                Master's degree preferred. Experience: Minimum of 4 years of
                hands-on engineering experience in a relevant industry, such as
                manufacturing, software development, or electronics. Technical
                Proficiency: Strong knowledge of CAD software (e.g., SolidWorks,
                AutoCAD) for mechanical engineers, or programming languages
                (e.g., Python, C++) for software engineers.`, jobBenefits:
                `Healthcare Benefits: Access to medical, dental, and vision
                insurance plans to ensure employees' health and well-being.
                Retirement Plans: Employer-sponsored 401(k) or pension plans to
                help employees save for their future. Paid Time Off (PTO): Paid
                vacation days, holidays, and sick leave to provide a healthy
                work-life balance.` }); %> <%-
                include('../components/atom/Job-Card', {companyLogo:
                "assets/images/icons/samira.svg", jobListing: `Plumbing Pro
                Opportunity: Samira Hadid Enterprise is Hiring!`, employerName:
                "Samira Hadid", jobCategory: `Plumber`, jobSalary:
                `₱85000-90000`, jobType: `Full-Time`, jobLocation: " Marikina",
                jobDescription: `Rapidly moving ahead, we leveraged our
                technology to enable other publishers to distribute their
                content digitally, with our mobile app as a service platform,
                TruNext for iOS, Android, and Windows. We then started a life,
                leadership and cultural destination website, with carefully
                curated and original content. An overnight hit, it attracted 6
                million hits in less than 1.5 months. All done faster than any
                other major internet company, with zero marketing spends. Plash
                Digital Labs is now home to newly re-branded entities like our
                creative content site called Limitless, our mobile technology
                division called Trunext, and our news aggregation app called
                Daily Cup.`, jobRequirements: `Education: Bachelor's degree in
                Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="job-card">
                <%- include('../components/atom/Job-Card', {companyLogo:
                "assets/images/icons/hanover.svg", jobListing: `Rev Up Your
                Career: Auto Mechanic Position at Hanover Garage`, employerName:
                "Hanover Garage", jobCategory: `Auto Mechanic`, jobSalary:
                `₱85000-90000`, jobType: `Full-Time`, jobLocation: "Laguna",
                jobDescription: `Rapidly moving ahead, we leveraged our
                technology to enable other publishers to distribute their
                content digitally, with our mobile app as a service platform,
                TruNext for iOS, Android, and Windows. We then started a life,
                leadership and cultural destination website, with carefully
                curated and original content. An overnight hit, it attracted 6
                million hits in less than 1.5 months. All done faster than any
                other major internet company, with zero marketing spends. Plash
                Digital Labs is now home to newly re-branded entities like our
                creative content site called Limitless, our mobile technology
                division called Trunext, and our news aggregation app called
                Daily Cup.`, jobRequirements: `Education: Bachelor's degree in
                Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %> <%- include('../components/atom/Job-Card',
                {companyLogo: "assets/images/icons/avery-davis.svg", jobListing:
                `GreenScape Landscaping: Be Part of Something Beautiful`,
                employerName: "GreenScape", jobCategory: `Gardener`, jobSalary:
                `₱85000-90000`, jobType: `Full-Time`, jobLocation: "Rizal",
                jobDescription: `Rapidly moving ahead, we leveraged our
                technology to enable other publishers to distribute their
                content digitally, with our mobile app as a service platform,
                TruNext for iOS, Android, and Windows. We then started a life,
                leadership and cultural destination website, with carefully
                curated and original content. An overnight hit, it attracted 6
                million hits in less than 1.5 months. All done faster than any
                other major internet company, with zero marketing spends. Plash
                Digital Labs is now home to newly re-branded entities like our
                creative content site called Limitless, our mobile technology
                division called Trunext, and our news aggregation app called
                Daily Cup.`, jobRequirements: `Education: Bachelor's degree in
                Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %> <%- include('../components/atom/Job-Card',
                {companyLogo: "assets/images/icons/gojo.svg", jobListing: `Craft
                with Gojo: Roofing Specialist Wanted`, employerName: "Gojo",
                jobCategory: `Roofing Specialist`, jobSalary: `₱85000-90000`,
                jobType: `Full-Time`, jobLocation: "Ilocos", jobDescription:
                `Rapidly moving ahead, we leveraged our technology to enable
                other publishers to distribute their content digitally, with our
                mobile app as a service platform, TruNext for iOS, Android, and
                Windows. We then started a life, leadership and cultural
                destination website, with carefully curated and original
                content. An overnight hit, it attracted 6 million hits in less
                than 1.5 months. All done faster than any other major internet
                company, with zero marketing spends. Plash Digital Labs is now
                home to newly re-branded entities like our creative content site
                called Limitless, our mobile technology division called Trunext,
                and our news aggregation app called Daily Cup.`,
                jobRequirements: `Education: Bachelor's degree in Mechanical
                Engineering, Electrical Engineering, Computer Science, or a
                related field. Master's degree preferred. Experience: Minimum of
                4 years of hands-on engineering experience in a relevant
                industry, such as manufacturing, software development, or
                electronics. Technical Proficiency: Strong knowledge of CAD
                software (e.g., SolidWorks, AutoCAD) for mechanical engineers,
                or programming languages (e.g., Python, C++) for software
                engineers.`, jobBenefits: `Healthcare Benefits: Access to
                medical, dental, and vision insurance plans to ensure employees'
                health and well-being. Retirement Plans: Employer-sponsored
                401(k) or pension plans to help employees save for their future.
                Paid Time Off (PTO): Paid vacation days, holidays, and sick
                leave to provide a healthy work-life balance.` }); %> <%-
                include('../components/atom/Job-Card', {companyLogo:
                "assets/images/icons/iron-work.svg", jobListing: `Welder Wanted:
                Join MetalCraft Fabrications and Shape the Future!`,
                employerName: "David Iron Works", jobCategory: `Welder`,
                jobSalary: `₱85000-90000`, jobType: `Full-Time`, jobLocation:
                "Manila", jobDescription: `Rapidly moving ahead, we leveraged
                our technology to enable other publishers to distribute their
                content digitally, with our mobile app as a service platform,
                TruNext for iOS, Android, and Windows. We then started a life,
                leadership and cultural destination website, with carefully
                curated and original content. An overnight hit, it attracted 6
                million hits in less than 1.5 months. All done faster than any
                other major internet company, with zero marketing spends. Plash
                Digital Labs is now home to newly re-branded entities like our
                creative content site called Limitless, our mobile technology
                division called Trunext, and our news aggregation app called
                Daily Cup.`, jobRequirements: `Education: Bachelor's degree in
                Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="job-card">
                <%- include('../components/atom/Job-Card', {companyLogo:
                "assets/images/icons/iron-work.svg", jobListing: `Welder Wanted:
                Join MetalCraft Fabrications and Shape the Future!`,
                employerName: "David Iron Works", jobCategory: `Welder`,
                jobSalary: `₱85000-90000`, jobType: `Full-Time`, jobLocation:
                "Manila", jobDescription: `Rapidly moving ahead, we leveraged
                our technology to enable other publishers to distribute their
                content digitally, with our mobile app as a service platform,
                TruNext for iOS, Android, and Windows. We then started a life,
                leadership and cultural destination website, with carefully
                curated and original content. An overnight hit, it attracted 6
                million hits in less than 1.5 months. All done faster than any
                other major internet company, with zero marketing spends. Plash
                Digital Labs is now home to newly re-branded entities like our
                creative content site called Limitless, our mobile technology
                division called Trunext, and our news aggregation app called
                Daily Cup.`, jobRequirements: `Education: Bachelor's degree in
                Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %> <%- include('../components/atom/Job-Card',
                {companyLogo: "assets/images/icons/samira.svg", jobListing:
                `Plumbing Pro Opportunity: Samira Hadid Enterprise is Hiring!`,
                employerName: "Samira Hadid", jobCategory: `Plumber`, jobSalary:
                `₱85000-90000`, jobType: `Full-Time`, jobLocation: " Marikina",
                jobDescription: `Rapidly moving ahead, we leveraged our
                technology to enable other publishers to distribute their
                content digitally, with our mobile app as a service platform,
                TruNext for iOS, Android, and Windows. We then started a life,
                leadership and cultural destination website, with carefully
                curated and original content. An overnight hit, it attracted 6
                million hits in less than 1.5 months. All done faster than any
                other major internet company, with zero marketing spends. Plash
                Digital Labs is now home to newly re-branded entities like our
                creative content site called Limitless, our mobile technology
                division called Trunext, and our news aggregation app called
                Daily Cup.`, jobRequirements: `Education: Bachelor's degree in
                Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %> <%- include('../components/atom/Job-Card',
                {companyLogo: "assets/images/icons/bord.svg", jobListing: `Bord
                is Hiring: HVAC Technician Role in Cebu City`, employerName:
                "Bord Modern House", jobCategory: `HVAC Technician`, jobSalary:
                `₱85000-90000`, jobType: `Full-Time`, jobLocation: "Cebu",
                jobDescription: `Rapidly moving ahead, we leveraged our
                technology to enable other publishers to distribute their
                content digitally, with our mobile app as a service platform,
                TruNext for iOS, Android, and Windows. We then started a life,
                leadership and cultural destination website, with carefully
                curated and original content. An overnight hit, it attracted 6
                million hits in less than 1.5 months. All done faster than any
                other major internet company, with zero marketing spends. Plash
                Digital Labs is now home to newly re-branded entities like our
                creative content site called Limitless, our mobile technology
                division called Trunext, and our news aggregation app called
                Daily Cup.`, jobRequirements: `Education: Bachelor's degree in
                Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %> <%- include('../components/atom/Job-Card',
                {companyLogo: "assets/images/icons/home-build.svg", jobListing:
                `Build the Future: Home Build Construction Needs You!`,
                employerName: "Home Build", jobCategory: `Construction Laborer`,
                jobSalary: `₱85000-90000`, jobType: `Full-Time`, jobLocation:
                "Makati", jobDescription: `Rapidly moving ahead, we leveraged
                our technology to enable other publishers to distribute their
                content digitally, with our mobile app as a service platform,
                TruNext for iOS, Android, and Windows. We then started a life,
                leadership and cultural destination website, with carefully
                curated and original content. An overnight hit, it attracted 6
                million hits in less than 1.5 months. All done faster than any
                other major internet company, with zero marketing spends. Plash
                Digital Labs is now home to newly re-branded entities like our
                creative content site called Limitless, our mobile technology
                division called Trunext, and our news aggregation app called
                Daily Cup.`, jobRequirements: `Education: Bachelor's degree in
                Mechanical Engineering, Electrical Engineering, Computer
                Science, or a related field. Master's degree preferred.
                Experience: Minimum of 4 years of hands-on engineering
                experience in a relevant industry, such as manufacturing,
                software development, or electronics. Technical Proficiency:
                Strong knowledge of CAD software (e.g., SolidWorks, AutoCAD) for
                mechanical engineers, or programming languages (e.g., Python,
                C++) for software engineers.`, jobBenefits: `Healthcare
                Benefits: Access to medical, dental, and vision insurance plans
                to ensure employees' health and well-being. Retirement Plans:
                Employer-sponsored 401(k) or pension plans to help employees
                save for their future. Paid Time Off (PTO): Paid vacation days,
                holidays, and sick leave to provide a healthy work-life
                balance.` }); %>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/shared/footer'); %>
<script>
  // Initialize Swiper
  const swiper = new Swiper('#jobCards', {
    slidesPerView: 1,
    spaceBetween: 560,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>
